* {
    font-size: 12px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: #111111;
    color: #ffffff;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
    margin: 2px 10px;
    padding: 0 5px;
    border-radius: 5px;
}
.modules-left {
    padding: 0;
}
.modules-center {
    padding: 0 10px;
}

#clock,
#memory,
#temperature,
#network,
#pulseaudio,
#backlight,
#bluetooth {
    padding: 0 20px;
}
#cpu {
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}
#battery {
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
